<table mat-table [dataSource]="dataSource" class="mat" margin="10%">
    <div class="table-row">
        <ng-container *ngFor="let column of columnHeader" [cdkColumnDef]="column.columnDef">
            <mat-header-cell *cdkHeaderCellDef>{{ column.header }}</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{ column.cell(row) }}</mat-cell>
        </ng-container>
    </div>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>